<div class="overlay" (click)="modalService.showSettingsDialog=false"></div>
<div class="dialog-container">
  <div class="close">
    <span class="material-symbols-outlined close-btn" (click)="modalService.showSettingsDialog=false">
      close
    </span>
  </div>
  <div class="dialog-content">
    @if (blogURLChanged) {
    <div class="dialog-content-wrapper">
      <p>Blog URL was changed</p>
      <p>You are seeing blog posts from the following blog:</p>
      <h3>{{blogURL}}</h3>
      <div class="dialog-actions">
        <button (click)="resetBlogURL()">Reset</button>
      </div>
    </div>
    } @else {
    <h3>Try with your Blog</h3>
    <p>try AnguHashBlog</p>
    <small>with another Hashnode blog </small>
    <input type="text" placeholder="Type a Blog URL..." [(ngModel)]="newBlogInput">
    <div class="error">
      @if (emptyInput) {
      <small>Please provide a valid Hashnode Blog URL.</small>
      }
      @if (noBlogFound) {
      <small>No Hashnode Blog found.</small>
      }
    </div>
    <div class="dialog-actions">
      <button (click)="changeBlogURL()">Change</button>
    </div>
    }
  </div>
</div>
