<div class="overlay" (click)="modalService.showSettingsDialog=false"></div>
<div class="dialog-container">
  <div class="close">
    <span class="material-symbols-outlined close-btn" (click)="modalService.showSettingsDialog=false">
      close
      </span>
  </div>
  <div class="dialog-content">
    <h3>Set a different blog URL</h3>
    <p>try AnguHashBlog</p>
    <small>with another Hashnode Blog</small>
    <input type="text" placeholder="Type a Blog URL..." [(ngModel)]="newBlogURL">
    <small>must be an existing Hashnode Blog</small>
  </div>
  <div class="dialog-actions">
    <button (click)="onInputChange()">Change</button>
    <button>Reset</button>
  </div>
  @if (newBlogURL !== '') {
    <p>Blog URL temporarily changed - not persistent</p>
    <p>Blog URL will return to default when you refresh the page</p>
  }
</div>

