:host {
  position: fixed;
  height: 100vh;
  width: 15rem;
  margin-left: -20rem;
  box-shadow: 0 0 0.5rem #00000046;
  z-index: 1;

  &.show {
    margin-left: 0;
    display: flex;
    transition: all 0.3s ease-in-out;

    .sidenav-menu {
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      padding: 1rem;

      .series {
        display: flex;
        flex-direction: column;

        h3 {
          font-weight: 400;
          text-transform: uppercase;
          margin: 0 0 0.5rem 0;
        }
      }

      .social {
        display: flex;
        width: 80%;
        margin: 1rem 0;

        .social-link {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          a {
            margin: 0 0.2rem;
          }
        }
      }
    }
  }

  .sidenav-menu {
    display: none;
  }
}
