.toolbar {
  position: relative;
  padding: 1rem;
  z-index: 3;

  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.second {
      border-bottom: 1px solid #80808050;
    }

    .toolbar-row-start {
      display: flex;

      .logo-image {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 50%;
      }

      .menu {
        display: flex;
        align-items: center;
        margin-right: 0.7rem;
        cursor: pointer;
      }

      .blog-title {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
          font-size: 1.3rem;
          font-weight: 400;
          margin: 0;
        }
      }

      .social {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0.8rem 0 0.5rem;

        .social-link {
          display: flex;

          a {
            margin: 0 0.4rem;
          }
        }
      }
    }

    .toolbar-row-end {
      .controls {
        display: flex;

        div {
          padding: 0 0.2rem;
        }

        .theme-control {
          display: flex;
          align-items: center;
        }
      }

      .follow {
        button {
          font-size: 1.1rem;
          padding: 0.3rem 1.1rem;
          border-radius: 2rem;
        }
      }
    }

    .series {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.7rem 0 0;

      .series-link {
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 0 0.4rem;
      }
    }
  }

}

@media (max-width: 600px) {
  .toolbar {
    padding: 0 1rem;
    .toolbar-row {
      button {
        span {
          font-size: 2rem;
        }
      }

      &.second {
        flex-direction: column;
      }

      .toolbar-row-start {
        .menu {
          padding: 0 1rem;
          span {
            font-size: 2.3rem;
          }
        }

        .blog-title {
          margin: 1.2rem 0;

          h1 {
            font-size: 1.8rem;
          }
        }
      }

      .toolbar-row-end {
        .follow {
          margin: 1rem 0;
          button {
            padding: 0.7rem 1.5rem;
            font-size: 1.3rem;
          }
        }
      }
    }

    // will have to be adjusted to a dropdown
    // to handle cases where there are more than 3 series
    .series {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.8rem;
    }
  }
}
