<div class="toolbar" role="banner">
  <div class="toolbar-row">
    <a routerLink="/" class="logo">
      <img src="{{blogImage}}" alt="logo" />
      <h1>{{ blogName }}</h1>
    </a>
    <div class="controls">

      <div class="search">
        <button><span class="material-symbols-outlined">
            search
          </span></button>
      </div>
      <div class="settings">
        <button (click)="modalService.showSettingsDialog=true"><span class="material-symbols-outlined">
            settings
          </span></button>
      </div>
      <div class="theme-control">
        @if (themeService.themeSignal() == 'dark') {
        <span class="material-symbols-outlined" (click)="toggleTheme()">
          toggle_on
        </span>
        } @else {
        <span class="material-symbols-outlined" (click)="toggleTheme()">
          toggle_off
        </span>
        }
      </div>
    </div>

  </div>
  <div class="toolbar-row">
    <div class="social">
      <div class="social-link">
        @for (social of blogSocialLinks | keyvalue; track social) {
        @if (social.value) {
        <a href="{{social.value}}" target="_blank" rel="noopener noreferrer">
          <app-svg-icon [icon]="social.key"></app-svg-icon>
        </a>
        }
        }
      </div>
    </div>
    <div class="follow">
      <button (click)="modalService.showFollowDialog=true">Follow</button>
    </div>
  </div>
  <div class="toolbar-row">
    <div class="series">
      @for (series of seriesList; track series) {
      <a [routerLink]="'series/' + series.slug" class="series-link">{{ series.name}}</a>
      }
    </div>
  </div>
</div>
@if (modalService.showSettingsDialog) {
<app-settings-dialog></app-settings-dialog>
}
@if (modalService.showFollowDialog) {
<app-follow-dialog></app-follow-dialog>
}
